.header.clearfix
  nav.navbar.navbar-expand-md.navbar-light.fixed-top
    .container
      a.navbar-brand(href="/")
        font(color = '#FFFFFF') 공구
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="/questions")
              font(color = '#FFFFFF') 공모전

          if (!currentUser) 
            li.nav-item
              a.nav-link(href='/signin')
                font(color = '#FFFFFF') 로그인
            li.nav-item
              a.nav-link(href='/users/new')
                font(color = '#FFFFFF') 회원가입
          else
            li.nav-item
              a.nav-link(href=`/users/${currentUser._id}`)
                font(color = '#FFFFFF') 마이페이지
            li.nav-item
              a.nav-link(href='/signout')
                font(color = '#FFFFFF') 로그아웃
        