extends layout

block hero-unit
  .jumbotron
    .container
      
block content
  nav(class = 'navbar navbar-expand-lg navbar-light' style = 'background-color: #C06C84; border-radius: 10em;')
    a.navbar-brand(href = '#')
      font(color = '#FFFFFF' style = 'margin-left: 10em;') 공모전
  div.card-group
    .card
      img(class = 'card-img-top' src = '/images/음성아이디어.jpg' alt = 'Card image cap')
      div.card-body
        h6.card-title
          b 산업관광 아이디어 공모전
        p.card-text 기획/아이디어
        a(href = '#' class = 'btn btn-info') 자세히 보기
    .card
      img.card-img-top(src = '/images/에너지소논문.jpg' alt = 'Card image cap')
      div.card-body
        h6.card-title
          b 2018 제2회 고등학생 대상 에너지 소논문 경진대회
        p.card-text 기획/아이디어, 논문/리포트, 과학/공학, 문학/글/시나리오, 기타
        a(href = '#' class = 'btn btn-info') 자세히 보기
    .card
      img.card-img-top(src = '/images/스마트리빙.jpg' alt = 'Card image cap')
      div.card-body
        h6.card-title
          b 인케이스 코리아 스마트리빙(SMART LIVING) 콘텐츠 크리에이터 모집
        p.card-text 기획/아이디어, 광고/마케팅, 영상/UCC/사진, 문학/글/시나리오, 대외활동/서포터즈
        a(href = '#' class = 'btn btn-info') 자세히 보기
    .card
      img.card-img-top(src = '/images/삼성금융교육.jpg' alt = 'Card image cap')
      div.card-body
        h6.card-title
          b 2018년 12월 SAMSUNG PREMIUM 금융교육 모집
        p.card-text 기획/아이디어, 광고/마케팅, 대외활동
        a(href = '#' class = 'btn btn-info') 자세히 보기
    .card
      img.card-img-top(src = '/images/여수관광사진.jpg' alt = 'Card image cap')
      div.card-body
        h6.card-title
          b 2018년 여수 사계절 관광사진 공모전
        p.card-text 영상/UCC/사진
        a(href = '#' class = 'btn btn-info') 자세히 보기
  br
  br

  nav(class = 'navbar navbar-expand-lg navbar-light' style = 'background-color: #C06C84; border-radius: 10em;')
    a.navbar-brand(href = '#')
      font(color = '#FFFFFF' style = 'margin-left: 10em;') 대외활동
  div.card-group
    .card
      img(class = 'card-img-top' src = '/images/한국건설교통신기술협회.jpg' alt = 'Card image cap')
      div.card-body
        h6.card-title
          b 한국건설교통신기술협회 제4기 청년기자단 모집
        p.card-text 대외활동/서포터즈
        a(href = '#' class = 'btn btn-info') 자세히 보기
    .card
      img.card-img-top(src = '/images/한국석유공사.jpg' alt = 'Card image cap')
      div.card-body
        h6.card-title
          b 한국석유공사 2019 대학생, 시민 SNS 서포터즈 모집
        p.card-text 대외활동/서포터즈
        a(href = '#' class = 'btn btn-info') 자세히 보기
    .card
      img.card-img-top(src = '/images/아이빛연구소.jpg' alt = 'Card image cap')
      div.card-body
        h6.card-title
          b 24기 아이빛연구소 멘토&스탭 모집
        p.card-text 대외활동/서포터즈
        a(href = '#' class = 'btn btn-info') 자세히 보기
    .card
      img.card-img-top(src = '/images/상상나침반캠프.jpg' alt = 'Card image cap')
      div.card-body
        h6.card-title
          b 상상나침반캠프 4기 모집
        p.card-text 대외활동/서포터즈
        a(href = '#' class = 'btn btn-info') 자세히 보기
    .card
      img.card-img-top(src = '/images/청정원_푸드에디터.jpg' alt = 'Card image cap')
      div.card-body
        h6.card-title
          b 청정원 푸드에디터 10기 모집
        p.card-text 대외활동/서포터즈
        a(href = '#' class = 'btn btn-info') 자세히 보기