@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

.jumbotron {
    margin-top: -1em;
    background: url('../images/bg.png') no-repeat left center;
    min-height: 20em;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }