.content= gongmo.content
.tags.badges
  each tag in gongmo.tags
    span.badge.badge-phill.badge-secondary= tag
    | 
.row
  .col-sm
    .numbers.
      #[span.number.num-likes= gongmo.numLikes] likes,
      #[span.number.num-answers= gongmo.numAnswers] answers,
      #[span.number.num-reads= gongmo.numReads] reads
  .col-sm
    .author
      | asked on #{moment(gongmo.createdAt).format('YYYY-MM-DD')}
      if gongmo.author
        | 
        | by #[a(href=`/users/${gongmo.author.id}`)= gongmo.author.name] 
