extends ../layout

include ../includes/_paginate

block content
  .container
    form.form-inline.search-input-group(action='/gongmos', method='GET')
      i.fa.fa-search
      input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)

    h1.main-title 
      | Gongmos
      if gongmos.total > 0
        .small Total #{gongmos.total} gongmo(s)

    if gongmos.total <= 0 
      .alert.alert-info No gongmos available yet
    else
      .gongmos
        each gongmo in gongmos.docs
          .gongmo
            a.title(href=`/gongmos/${gongmo.id}`)= gongmo.title
            include _gongmo

      +paginate(gongmos, '/gongmos', query)

    hr
    a.btn.btn-primary(href='/gongmos/new') Ask Gongmo
