extends ../layout

block content
  .container
    h1.main-title New Question
    form(action="/gongmos", method="POST")
      include _form
      button.btn.btn-outline-primary(type="submit") Post Your Question

    