extends ../layout

block content
  .container
    h1.main-title New Question
    form(action="/questions", method="POST")
      include _form
<<<<<<< HEAD
      button.btn.btn-outline-primary(type="submit") Post Your Question

    
=======
      button.btn.btn-outline-primary(type="submit") Post Your Question
>>>>>>> 3c31045ce10196dec6d79aca4f482888c7c5d9ac
